# TERNARY CLASSIFICATION

### Metrics

The main metric to access my models' performance here is **Accuracy Score**. However, for this specific problem, we would also want to be able to identify non-operational waterpoints as well as those that are in need of repair early on, to help the Tanzanian Ministry of Water dispense resources accordingly. Therefore, I would also be looking at **Recall Score** particularly of the 2 classes `non functional` and `functional needs repair`.

In [1]:
# IMPORTING LIBRARIES

import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Feature selection and engineering
from sklearn.feature_selection import RFE

#Model evaluation
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score

### 1.0 Loading Dataset

In [2]:
df = pd.read_csv('../data/wells_data_cleaned.csv')
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,basin,region,...,construction_year,extraction_type_class,management_group,payment_type,quality_group,quantity,source_class,waterpoint_type,status_group,year_recorded
0,69572,6000.0,2011-03-14,ROMAN,1390.0,ROMAN,34.938093,-9.856322,LAKE NYASA,IRINGA,...,1999,GRAVITY,USER-GROUP,ANNUALLY,GOOD,ENOUGH,GROUNDWATER,COMMUNAL STANDPIPE,FUNCTIONAL,2011
1,8776,0.0,2013-03-06,GRUMETI,1399.0,GRUMETI,34.698766,-2.147466,LAKE VICTORIA,MARA,...,2010,GRAVITY,USER-GROUP,NEVER PAY,GOOD,INSUFFICIENT,SURFACE,COMMUNAL STANDPIPE,FUNCTIONAL,2013
2,34310,25.0,2013-02-25,LOTTERY CLUB,686.0,WORLD VISION,37.460664,-3.821329,PANGANI,MANYARA,...,2009,GRAVITY,USER-GROUP,PER BUCKET,GOOD,ENOUGH,SURFACE,COMMUNAL STANDPIPE MULTIPLE,FUNCTIONAL,2013
3,67743,0.0,2013-01-28,UNICEF,263.0,UNICEF,38.486161,-11.155298,RUVUMA / SOUTHERN COAST,MTWARA,...,1986,SUBMERSIBLE,USER-GROUP,NEVER PAY,GOOD,DRY,GROUNDWATER,COMMUNAL STANDPIPE MULTIPLE,NON FUNCTIONAL,2013
4,19728,0.0,2011-07-13,ACTION IN A,0.0,ARTISAN,31.130847,-1.825359,LAKE VICTORIA,KAGERA,...,0,GRAVITY,OTHER,NEVER PAY,GOOD,SEASONAL,SURFACE,COMMUNAL STANDPIPE,FUNCTIONAL,2011

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 59400 non-null  object
 4   gps_height             59400 non-null  float64
 5   installer              59400 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   basin                  59400 non-null  object
 9   region                 59400 non-null  object
 10  lga                    59400 non-null  object
 11  population             59400 non-null  int64
 12  public_meeting         59400 non-null  bool
 13  scheme_management      59400 non-null  object
 14  permit                 59400 non-null  bool
 15  construction_year      59400 non-null  int64
 16  extraction_type_class  59400 non-null  object
 17  management_group       59400 non-null  object
 18  payment_type           59400 non-null  object
 19  quality_group          59400 non-null  object
 20  quantity               59400 non-null  object
 21  source_class           59400 non-null  object
 22  waterpoint_type        59400 non-null  object
 23  status_group           59400 non-null  object
 24  year_recorded          59400 non-null  int64
dtypes: bool(2), float64(4), int64(4), object(15)
memory usage: 10.5+ MB

### 2.0 Preprocessing

2.1 Data Train Test Split

In [4]:
# Step 1: Splitting the dataset
def split_data():
    print("\n### Splitting Data ###")
    
    # Separate features and target variable
    X = df.drop(['id', 'date_recorded','status_group'], axis=1)  # Features/Input values/x
    y = df['status_group']  # Target/Labels/Output
    
    # Splitting into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    print(f"Training set size: {X_train.shape[0]} rows")
    print(f"Testing set size: {X_test.shape[0]} rows")
    
    return X_train, X_test, y_train, y_test

X_train, X_test, y_train, y_test = split_data()

### Splitting Data ###
Training set size: 47520 rows
Testing set size: 11880 rows

2.2 Encoding categoricals

In [7]:
from sklearn.preprocessing import LabelEncoder

def balanced_encoding(X_train, X_test):
    print("\n### Encoding Categorical and Boolean Columns with Balanced Approach ###")

    # Handle boolean columns (convert to integers)
    bool_columns = X_train.select_dtypes(include=['bool']).columns
    print(f"Boolean columns: {list(bool_columns)}")
    for col in bool_columns:
        X_train[col] = X_train[col].astype(int)
        X_test[col] = X_test[col].astype(int)

    # Identify categorical columns
    categorical_columns = X_train.select_dtypes(include=['object']).columns
    print(f"Categorical columns: {list(categorical_columns)}")

    # Split into high and low-cardinality columns
    high_cardinality_cols = [col for col in categorical_columns if X_train[col].nunique() > 10]
    low_cardinality_cols = [col for col in categorical_columns if X_train[col].nunique() <= 10]

    # Label Encoding for high-cardinality columns
    label_encoders = {}
    for col in high_cardinality_cols:
        le = LabelEncoder()
        X_train[col] = le.fit_transform(X_train[col])
        X_test[col] = X_test[col].map(lambda x: le.transform([x])[0] if x in le.classes_ else -1)
        label_encoders[col] = le  # Save encoder for later use

    # One-Hot Encoding for low-cardinality columns
    X_train = pd.get_dummies(X_train, columns=low_cardinality_cols, drop_first=True)
    X_test = pd.get_dummies(X_test, columns=low_cardinality_cols, drop_first=True)

    # Align columns in train and test sets (handle dummy column mismatch)
    X_test = X_test.reindex(columns=X_train.columns, fill_value=0)

    print("Balanced encoding completed successfully.")
    return X_train, X_test, label_encoders

In [8]:
# Apply the balanced encoding function
X_train_encoded, X_test_encoded, label_encoders = balanced_encoding(X_train, X_test)

# Verify the results
print("X_train_encoded shape:", X_train_encoded.shape)
print("X_test_encoded shape:", X_test_encoded.shape)

### Encoding Categorical and Boolean Columns with Balanced Approach ###
Boolean columns: []
Categorical columns: ['installer', 'basin', 'region', 'lga', 'scheme_management', 'extraction_type_class', 'management_group', 'payment_type', 'quality_group', 'quantity', 'source_class', 'waterpoint_type']
Balanced encoding completed successfully.
X_train_encoded shape: (47520, 55)
X_test_encoded shape: (11880, 55)

In [11]:

# Initialize LabelEncoder
label_encoder_y = LabelEncoder()

# Fit and transform y_train, ensure it remains a Pandas Series
y_train_encoded = pd.Series(
    label_encoder_y.fit_transform(y_train),
    index=y_train.index,
    name="status_group"
)

# Transform y_test, ensure it remains a Pandas Series
y_test_encoded = pd.Series(
    label_encoder_y.transform(y_test),
    index=y_test.index,
    name="status_group"
)

# Print the mapping for reference
print("Target Encoding Mapping:")
print(dict(zip(label_encoder_y.classes_, range(len(label_encoder_y.classes_)))))

# Verify encoded values
print("Encoded y_train (first 5):\n", y_train_encoded.head())
print("Encoded y_test (first 5):\n", y_test_encoded.head())

Target Encoding Mapping:
{'FUNCTIONAL': 0, 'FUNCTIONAL NEEDS REPAIR': 1, 'NON FUNCTIONAL': 2}
Encoded y_train (first 5):
 3607     0
50870    0
20413    2
52806    2
50091    2
Name: status_group, dtype: int32
Encoded y_test (first 5):
 2980     2
5246     0
22659    0
39888    2
13361    0
Name: status_group, dtype: int32

2.3 Scaling Numerical features